.cta {
  width: 100%;
  height: auto;
  background: #fff;
}

.cta .inner {
  width: 90%;
  margin: 1em auto 0 auto;
  background: #fff;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 0em;
}

.cta .inner .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #5c6;
}

.cta .inner .left h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.cta .inner .left p {
  font-size: 1.1em;
  line-height: 1.5em;
}
@media screen and (max-width: 900px) {
  .cta .inner .right {
    display: none;
  }
  .cta .inner {
    width: 90%;
    margin: 1em auto 0 auto;
    background: #fff;
    display: block;

    grid-gap: 0em;
  }
}
